body{
    background-color: #f7f7f7;
}

ul,h1,.stu-list,h3{
    margin:0;
    padding:0;
}

h1 {
    padding-left: 10px;
}
.stu-list{
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li{
    list-style: none;
    margin:10px 5px;
    border: 1px solid black;
    padding:5px;
    background-color: lightgray;
}




.group-header{
    display: flex;
    justify-content: space-between; 
}

.groupstu-list{
    display: flex;
}

.group-item {
    margin: 10px;
    border:1px solid black;
}

.btn {
    background-color:#ea5455;
}